{
    "plugins": ["syntax-dynamic-import"],
    "presets": [
        [
            "@babel/preset-env",
            {
                "corejs": 3,
                "useBuiltIns": "usage",
                "modules": false,
                "targets": {
                    "ie": "11" 
                }
            }
        ]
    ]
}
